<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
 "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >
<beans>


	<import resource="sf6c-core.xml" />
	<import resource="sf6c-vfs.xml" />
	<import resource="sf6c-xgit.xml" />
	<import resource="sf6c-xgit-command.xml" />


</beans>
